<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>CT5171_CAv2.0: Bartspetitions - List</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card sticky-top">
                        <div class="card-header text-center">
                            <h2>Bartspetitions - List of Petitions</h2>
                        </div>
                        <div class="card-body">
                            <p th:if="${search==''}" class="card-text">Below is the list of all current Petitions</p>
                            <p th:if="${search!=''}" class="card-text">Below is the list of all Petition Title's containing <span th:text=${search}></span></p>
                            <p class="card-text">Please pick from one of the options below.</p>
                        </div>
                        <div class="card-footer">
                            <div class="container-fluid">
                                <form class="form-inline" action="#" th:action="@{/petitionList}" method="get">
                                    <a th:href="@{/}" class="btn btn-primary">Home</a>
                                    <label for="searchString" class="m-2">Search</label>
                                    <input name="search" type="text" class="m-2" id="searchString" placeholder="Search for..." th:value=${search}>
                                    <button type="submit" value="Submit" class="btn btn-info m-2">Search for a Petition</button>
                                    <a th:href="@{/petitionAdd}" class="btn btn-success m-2">Add a New Petition</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div th:each="petition:${petitions}">
                        <div class="card">
                            <div class="card-header text-centre">
                                <h3 th:text=${petition.petitionTitle}></h3>
                            </div>
                            <div class="card-body">
                                <p th:text=${petition.petitionSummary}></p>
                            </div>
                            <div class="card-footer bg-white text-success">
                                <a th:href="@{/petitionSign(id=${petition.id})}" class="btn btn-success">View Petition</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </body>
</html>